<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/my.css') }}" />
        {% endblock %}
    </head>
    <body>
    {% block logo %}
        <div class="row">
            <div class="col-lg-3"><a href = "/#/"><img src="{{ asset('images/khemzacz.sklep.pl.png') }}"></a></div>
            <div class="col-lg-7" >
                <div class = "not-a-real-shop">
                    <ul>
                        <li> Witryna utworzona wyłącznie do celów edukacyjnych. Dlatego wszelkie informacje w tej witrynie NIE STANOWIĄ OFERTY w rozumieniu prawa handlowego.</li>
                        <li> Złożone zamówienia nie powodują zawarcia umowy kupna-sprzedaży.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="my-logo"></div>
    {% endblock %}
    {% block info %}

    {% endblock %}
    {% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                        <li ng-controller="Order as C"><a href="#/">Place an order</a></li>
                        <li class="dropdown" ng-controller="Basket as B">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Basket <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {%  verbatim %}
                                    <li ng-repeat="prod in products">{{ prod.nazwa }}: {{ prod.ilosc }}, {{ prod.cena*prod.ilosc }} zł </li>
                                    <li></li>
                                {% endverbatim %}
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user %}
                        <li><div class="witaj">Welcome: {{ app.user.username }}</div></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                        {% elseif not app.user %}
                        <li><a href="{{ path('fos_user_security_login') }}">Sign in</a></li>
                        <li><a href="/register">Sign up</a></li>
                        <li><a href="#">Link</a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('js/jquery-2.2.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!--<script src="{{ asset('js/ui-bootstrap-tpls-1.3.1.min.js') }}"></script> --> <!--boostrap ui dla angular nie wiem jeszcze konkretnie po co mi to -->
        <script src="{{ asset('js/angular.min.js') }}"></script>
        <script src="{{ asset('js/angular-route.min.js') }}"></script>




    {% endblock %}


    {% block body %}
        <!--<div ng-app="myApp"> -->
        {% verbatim %}


        <script>



            var myApp = angular.module('myApp', ['ngRoute']);

            myApp.service('productService', function() {
                var productList = [];
                var product = null;

                var addProduct = function(newObj) {
                    productList.push(newObj);
                };

                var getProducts = function(){
                    return productList;
                };

                var setProduct = function(obj){
                    product = obj;
                };

                var getProduct = function(){
                    return product;
                };

                return {
                    addProduct: addProduct,
                    setProduct: setProduct,
                    getProduct: getProduct,
                    getProducts: getProducts
                };

            });

            myApp.config(function($routeProvider) {

                $routeProvider.
                when('/', {
                    templateUrl: 'angular/IndexPage.html'
                }).
                when('/placeOrder', {
                    templateUrl: 'angular/Order.html'
                }).
                otherwise({
                    redirectTo: '/'
                });


            });

            myApp.factory('Orders', function($rootScope){
                var orders = [];
                var result = {
                addOrder: function (Order){
                        orders.push(Order);
                        $rootScope.emit('orders.orderAdd',Order);
                    },
                    getOrders: function (){
                        return orders;
                    }

                };
                return result;
            })

            myApp.controller('ProductBrowser', function ($scope, $http, productService){
                this.test ="lista Kategorii";
                var self = this;
                self.product = null;
                $http.get('/search/getCategoriesTree').success(function(data){
                    self.positions = data.mainCategories;

                });
                self.getProducts = function(idCat){
                    self.product = null;
                    $http.get("/search/getProductsByCategory/"+idCat).success(function(data){
                        self.products = data.products;
                    });
                };
                self.productDetails = function(idProd){
                    self.products = null;
                    $http.get("/search/getProductById/"+idProd).success(function(data){
                        self.product = data.product;
                    });
                };
                $scope.callToAddToProductList = function(currObj){
                    productService.addProduct(currObj);
                };
                $scope.setProduct = function(obj){
                    productService.setProduct(obj);
                };
            });

            myApp.controller("Order", function($scope, $http, $location, productService){
                var self = this;
                var amount = 0;
                $scope.product = productService.getProduct();
                self.submit = function(){
                    $scope.product.ilosc= self.amount;
                    //Orders.addOrder($scope.product);
                    productService.addProduct($scope.product);
                    $location.path('/');
                }
                self.order = function(){


                }

            });

            myApp.controller("Basket", function($scope,$http, productService){
                $scope.products = productService.getProducts();
            });

        </script>

        <div ng-view></div>
        {% endverbatim %}

        <!--</div> -->
    {% endblock %}



    {% block fos_user_content %}
    {% endblock fos_user_content %}

    </body>
</html>
